[nix]
channel = "stable-24_05"
packages = ["unzipNLS"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 44264432
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
